@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
}

.text {
    font-size: 1rem;
}

.hidden { display: none; }

.card {
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7);
}

.card-title {
    text-align: center;
    font-weight: bold;
    color: white;
}

.card-img-top {
    border-radius: 10px 10px 0 0; 
    height: 200px; 
    object-fit: cover; 
}


.background {
    background: url('imagenes/fondo.jpg') repeat-y center center/cover;
    background-size: cover; 
    background-repeat: repeat-y;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
.backgroundinicio {
    background: url('imagenes/fondo.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}
.navbar {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1050; 
    background: transparent;
   
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar .nav-link {
color: white !important; 
}

.navbar .dropdown-menu {
background-color: rgba(0, 0, 0, 0.5); 
border: none; 
}

.navbar .dropdown-item {
color: white !important; 
}

.navbar .dropdown-item:hover {
background-color: rgba(255, 255, 255, 0.2); 
color: white; 
}

.title {
    text-align: center;
    color: white;
    margin-top: 20%;
    text-shadow: 2px 2px 5px black;
}

.navbar .nav-link:hover {
    color: rgb(237, 228, 159) !important; }

@media (min-width: 768px) {
    #principal {
        font-size: 4rem;
    }
    #text {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    #principal {
        font-size: 6rem;
    }
    #text {
        font-size: 6rem;
    }
}




.caja-envolvente {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}





.tarjeta {
    background-color:rgb(199, 195, 201);  /* rgb(137, 135, 146);*/
    color: rgb(50, 32, 30);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}




.card-img {
    width: 100%;
    height: auto;
    max-height: 402px; 
    object-fit: cover; 
}


footer {
   
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(137, 135, 146);
    color: white;
    border-radius: 5px;
    font-size: smaller;
}



@media (max-width: 768px) {
    
    iframe {
        width: 100%;
        height: 200px; 
    }

    
    .card-img {
        height: auto;
    }
}






.tarjeta .card-body {
    padding: 15px;
}


.tarjeta .card-title {
    font-weight: bold;
    margin-bottom: 10px;
}


.tarjeta .card-text {
    line-height: 1.5;
    text-shadow: none !important;
}


@media (max-width: 768px) {
    .tarjeta {
        font-size: 11px;
    }
}


.tarjeta-mapa {
    background-color: rgb(137, 135, 146);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


.card-img-mapa {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 500px; 
}


@media (max-width: 768px) {
    .tarjeta-mapa {
        max-width: 100%; 
    }
    .background {
        padding-top: 90px; 
    }

    .card-img-mapa {
        height: auto;
        max-height: 400px; 
    }
    .text-section {
        font-size: 1rem; 
        padding: 10px;
    }
}
.carousel {
    max-width: 800px; 
    margin: 0 auto; 
    height: 500px;
}

.carousel-inner img {
    height: 500px; 
    object-fit: cover; 
}

.carousel-item img {
    width: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: 300px; 
    }

    .carousel {
        max-width: 100%; 
    }
}

.text-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.header-video {
    width: 100%;
    height: 50vh; /* 30% de la altura de la pantalla */
    object-fit: cover; /* Mantiene la proporción sin deformar */
    display: block;
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 768px) {
    .header-video {
        height: 25vh; /* Reducir un poco en móviles */
    }
}

@media (max-width: 768px) {
    .text-section {
        font-size: 1rem; 
        padding: 10px;
    }
}